@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>TheBigEvent</title>
</head>
<body>
    <div id="app">
    </div>
    
    
    <form method="post" action="">
        Mail <input name="Mail" /> <br>
        Pass <input name="Passe" /><br>
        <input type="submit" />
    </form>
    @{string u = ViewData["Firstname"].ToString(); } @u 
</body>
</html>
